@import 'core/_mixins';
@import 'core/_fonts';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  @include flexbox;
}

.wrapper {
  margin: 0 auto;
  -webkit-flex: 1;
  -ms-flex: 1; 
  -moz-flex: 1;
  flex: 1;
}

.topline {
  a {
    text-decoration: none;
    color: #5d7a88;
  }
  text-align: right;
}

.topline-inner {
  display: inline-block;
 padding-right: 11.4%;
}

.topline-inner-logo {
  >img {
    @include img_shadow;
    position: absolute;
    left: 149px;
    top: 0;
    width: 162px;
    height: 151px;
  }

}

.topline-inner-phone, .topline-inner-email {
  @include disp;
  @include fonts_heavy(19px);
  padding: 19px 25px;
  img {
    width: 19px;
    height: 14px;
  }
}

.topline-inner-entry, .topline-inner-basket,
.topline-inner-search {
  @include disp;
  @include fonts_regular(13px);
  padding: 17px 20px;
}

.topline-inner-entry {
  margin-left: 5px;
}

.poster {
  background-image: url(../img/poster.png);
  width: 100%;
  height: 505px;
  background-repeat: no-repeat;
  @include bg_size(cover);
}

.nav {
  background: #8da1a8;
  ul {
    margin: 0 auto;
    width: 922px;
  }
  li {
  margin: 0;
  padding: 12px 11px;
  list-style: none;
  @include disp;
  }
  a {
    @include fonts_regular(17px);
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #e5e5e5;
  }
  .current {
    background: #5d7a88;
  }
}

.title {
  @include fonts_bold(22px);
  text-align: center;
  margin-top: 21px;
  font-weight: bold;
  color: #22323a;
}

.basket {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 76.5%;
  margin: 52px auto 5px;
  >div {
    &:nth-child(odd) {
      background: #fdfdfd;
      .ui-widget.ui-widget-content {
        border: 1px solid #fdfdfd;
      }
    }
  }
}

.basket-header {
  @include fonts_regular(13px);
  display: table-header-group;
  border-bottom: 1px solid #e5e5e5;
  color: #d0d0d0;
  background: #fff !important;
  >div{
    display: table-cell;
    padding: 6px 0;
    vertical-align: middle;
    &:nth-child(1) {
      padding-left: 7px;
    }
    &:nth-child(2) {
      width: 651px;
    }
    &:last-child {
      width: 63px;
    }
    &:nth-last-child(2) {
      width: 110px;
    }
    &:nth-last-child(3) {
      width: 90px;
    }
  }
}

.basket-item {
  display: table-row;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  // outline: 1px solid #fff;
    >div{
    height: 91px;
    display: table-cell;
    vertical-align: middle;
  }
}

.basket-item-img {
  padding: 16px 7px 10px;
  >img {
    width: 88px;
    height: 87px;
    border: 1px solid #e5e5e5;
  }
}

.basket-item-description {
  padding: 8px 2px 0;
  >div {
    @include fonts_bold(13px);
    color: #303030;
  }
  >span {
    @include fonts_regular(11px);
    font-style: italic;
    color: #d0d0d0;
    position: relative;
    top: -3px;
    left: 0px;
  }
}

.basket-item-sum {
  @include fonts_regular(15px);
  >span {
    color: #ed184f;
  }
}

.basket-item-cansel {
  .cansel {
    text-decoration: none;
    font-size: 26px;
    color: #6c6c6c;
  }
}

.basket-footer {
  display: table;
  table-layout: fixed;
  width: 1032px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fdfdfd;
  border-top: 4px solid #fff;
  >div{
    display: table-cell;
    padding: 15px 0;
    vertical-align: middle;
    &:nth-child(1) {
      @include fonts_bold(15px);
      text-align: right;
      width: 828px;
    }
    &:nth-child(2) {
      @include fonts_bold(17px);
      padding-left: 26px;
      color: #ed184f;
    }
  }
}

.main {
  width: 100%;
}

.payment {
  @include main_forms;
  margin: 43px auto;
}

.methods {
  @include main_forms;
  height: 606px;
  margin: 37px auto;
}

.methods-header {
  >h2 {
    @include fonts_bold(22px);
  }
  >span {
    @include fonts_regular(18px);
    font-style: italic;
    line-height: 2.21em;
  }
  margin-top: 50px;
}

.payment-header {
  text-align: center;
  padding: 48px 0 13px;
  color: #22323a;
  >h2 {
    @include fonts_bold(22px);
  }
  >span {
    @include fonts_regular(18px);
    font-style: italic;
    line-height: 2.21em;
    word-spacing: 1px;
  }
}

.payment-tabs {
  width: 49%;
  margin: 0 auto;
}

.payment-tabs-item {
  @include fonts_regular(11px);
  padding-bottom: 36px;
  text-align: left;
  line-height: 1.8em;
  color: #767c80;
  input {
    @include fonts_regular(13px);
    color: #6e6e6e;
  }
  >input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 6px;
    height: 37px;
  }
  >div {
    padding-bottom: 6px;
    &:last-child {
      padding-right: 0px;
    }
  }
}

.payment-tabs-nav {
  @include fonts_regular(11px);
  padding-bottom: 10px;
  line-height: 1.8em;
  color: #767c80;
  >div {
    padding-bottom: 15px;
  }
  input {
    @include input_style;
    @include fonts_regular(13px);
    color: #6e6e6e;
  }
}

.first-item {
  margin-top: 18px;
}

.input {
  @include disp;
  width: 244px;
  padding-right: 13px;
  >input {
    @include input_style;
  }
  >div {
    padding-bottom: 6px;
  }
}

.total {
  margin: 0 auto;
  width: 50%;
  padding-top: 21px;
  padding-bottom: 28px;
  color: #606060;
  table-layout: fixed;
  @include fonts_regular(17px);
  word-break: break-all;
  border-spacing: 15px 11px;
}

.total-left {
  width: 44px;
  text-align: right;
}

.total-right {
  width: 44px;
  text-align: left;
}

.highlight {
  @include fonts_bold(17px);
  color: #ed184f;
}

.switch {
  display: table;
  width: 100%;
  border-collapse: collapse;
  >div {
    box-sizing: border-box;
    display: table-cell;
    border: 1px solid #767d81;
    text-align: left;
    width: 47.1%;
    padding: 8px 17px;
    cursor: pointer;
    >a {
      text-decoration: none;
      color: #767d81;
    }
  }
}

.active {
  background: #8da1a8;
  >a {
    color: #fff !important;
  }
}

.button {
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  padding: 15px;
  color: #fff;
  margin-right: 8px;
  &:focus {
    outline: none;
  }
}

.button-group {
  padding-top: 24px;
  padding-left: 23px;
  text-align: center;
}

.button-red {
  width: 169px;
  background: #ed184f;
  @include box_shadow(0px 3px 5px 0px rgba(0,0,0,0.75));
  &:hover {
    background: #f15980;
  }
  &:active {
    background: #ed184f;
  }
}

.button-blue {
  width: 196px;
  background: #5d7a88;
  @include box_shadow(0px 3px 5px 0px rgba(0,0,0,0.75));
  &:hover {
    background: #8c8c8c;
  }
  &:active {
    background: #5d7a88;
  }
}

.footer {
  background: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  h3 {
    font-size: 1.5em;
  }
}


.footer-block-column {
  vertical-align: top;
  @include disp;
  line-height: 1.6em;
  padding-right: 5.5%;
  line-height: 1.5em;
  color: #5d7a88;
  @include fonts_regular(11px);
  li {
    @include fonts_regular(11px);
    list-style: none;
    line-height: 1.9em;
  }
  a {
    color: #5d7a88;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #969e9d;
    }
  }
}

.footer-block {
  text-align: left;
  max-width: 76.5%;
  margin: 0px auto;
  padding: 34px 0;
  >div {
    &:nth-last-child(2) {
      padding-left: 1%;
      padding-left: 9%;
      padding-right: 14.7%;
      border-left: 1px solid #c5d6d6;
    }
  }
  >div {
    &:nth-child(2) {
      vertical-align: bottom;
    }
  }
  .footer-block-header {
    color: #303030;
  }
}

fieldset {
  border: 0;
}

#delivery-button {
  border-radius: 0;
  background: #fff;
  height: 26px;
  color: #5d7a88;
  @include fonts_regular(13px);
  display: table-cell;
  .ui-selectmenu-icon.ui-icon {
    right: -9px;
  }
}

#payment-button {
  @extend #delivery-button;
  color: #5d7a88;
}

.ui-menu-item {
  >div {
    @include fonts_regular(13px);
  }
}

.footer-block-header {
  @include fonts_bold(14px);
  padding-bottom: 10px;
}

.basket-item-spinner {
  input {
    width: 23px;
    &:focus {
      outline: 0;
    }
  }
  .ui-widget.ui-widget-content {
    border: 1px solid white;
  }
  .ui-widget-content {
   background: transparent; 
  }
 .ui-button {
    border: 0;
    background: transparent;
    background: #5d7a88;
    border-radius: 0;
  }
  .ui-button .ui-icon {
    background-image: url(../libs/jquery-ui/images/ui-icons_ffffff_256x240.png)
  }
  .ui-widget input {
    @include fonts_regular(13px);
  }
  .ui-spinner-button {
    width: 16px;
  }
  .ui-spinner-input {
    padding: 0;
    margin-left: 0;
    margin-right: 0.6em;
    height: 27px;
  }
  .ui-spinner-up {
    top: -1px;
  }
  .ui-spinner-down {
    bottom: -1px;
  }
}